/*
  Copyright 2008  Kevin Morey  (email : kevin@kmorey.net)

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

#advtag .hidden { display: none; }

#advtag thead>tr>td {
  font-weight: bold;
}

#advtag #add-tagline {
display: none;
}

#advtag .btn-move-up,
#advtag .btn-move-down,
#advtag .btn-edit,
#advtag .btn-remove {
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  //border: 1px solid #aaa;
  cursor: pointer;
}

#advtag .btn-move-up {
  background-image: url('go-up.png');
}

#advtag .btn-move-down {
  background-image: url('go-down.png');
}

#advtag .btn-edit {
  background-image: url('pencil.png');
}

#advtag .btn-remove {
  background-image: url('stop.png');
}

#advtag #btn-add-tagline {
margin-top: 2em;
margin-bottom: 1em;
}

#advtag {
  margin:0 15px;
  /*max-width:980px;*/
  padding:0;
}

#advtag label.add_label {
display: block;
}

#advtag table.tagline {
width: 745px;
}

#advtag td.taglink {
width: 500px;
}

#advtag .taglink p {
margin: 0 0 0 0.5em;
}

#advtag img.throbber {
display: none;
}

#advtag .message {
background-color: #fffeca;
}

#advtag h3 {
margin-bottom: 0.5em;
}

#advtag h4 {
display: inline; 
}

#advtag h4:after {
content: ":";
}

#advtag p.subhead {
margin: 0 0 1em;
display: inline;
}

#advtag tr.odd {
background-color: #f1f1f1;
}